# ios
APP_IDENTIFIER=
APPLE_ID=
TEAM_ID=
APPSTORE_CONNECT_ID=
# android
PACKAGE_NAME=

# match
MATCH_REPO_URL=


# lanes
FL_UNITY_VERSION=
FL_UNITY_EXECUTE_METHOD=UActions.Bootstrap.Run

APPCENTER_OWNER_NAME=
APPCENTER_ANDROID_APP_NAME=
APPCENTER_ANDROID_API_TOKEN=

APPCENTER_IOS_APP_NAME=
APPCENTER_IOS_API_TOKEN=

PRODUCT_NAME=
